<div ng-controller='dashboardController'>
  <div class="row">
    <h4 class="align left" ng-show="username">Hi {{username}}!</h4>
    <a href class="align right" ng-click="logout();">Logout</a>
  </div>
  <div class="row">
    <a href="/#/question">Ask a question</a>
  </div>
  <div class="row"> <!-- Post Creation -->
    <form class="col s5 align right">
      <div class="input-field">
        <label for="search">Search: </label>
        <input type="text" name="search" ng-model="search">
      </div>
    </form>
  </div>
  <div class="row"><!-- Questions list -->
    <table>
      <thead>
        <th>Question</th>
        <th>Answer</th>
        <th>Action</th>
      </thead>
      <tbody ng-repeat="question in questions">
        <tr>
          <td>{{ question.question }}</td>
          <td>{{ question._answers.length }}</td>
          <td>
            <a href='/#/questions/{{ question._id }}'>show</a> |
            <a href="/#/questions/{{ question._id }}/answer">Answer</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div> <!-- end questions list -->
</div>
